@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@config '../../tailwind.config.mjs';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  color-scheme: light;

  --background: var(--color-white);
  --foreground: var(--color-zinc-950);
  --border: var(--color-zinc-950);
}

.dark {
  color-scheme: dark;

  --background: var(--color-zinc-950);
  --foreground: var(--color-white);
  --border: var(--color-white);
}

@theme inline {
  --font-heading: var(--font-heading), var(--font-sans);
  --font-body: var(--font-body), var(--font-sans);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
}

@layer base {
  * {
    @apply border-border;
  }
  a,
  input,
  button,
  div[role='menuitem'] {
    @apply focus-visible:field-outline;
  }
}

@layer utilities {
  :where(.heading-wrapper:has(> h2)) {
    @apply prose-h2-sizing;
  }

  :where(.heading-wrapper:has(> h3)) {
    @apply prose-h3-sizing;
  }
}

@utility content-auto {
  content-visibility: auto;
}

@utility field-outline {
  @apply outline-3 -outline-offset-3 outline-sky-600 dark:outline-sky-400;
}

@custom-variant hover-supported {
  @media (hover: hover) {
    @slot;
  }
}
