@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@config '../../tailwind.config.mjs';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  color-scheme: light;

  --background: var(--color-white);
  --foreground: var(--color-zinc-950);
  --border: var(--color-zinc-950);
}

.dark {
  color-scheme: dark;

  --background: var(--color-zinc-950);
  --foreground: var(--color-white);
  --border: var(--color-white);
}

@theme inline {
  --font-heading: var(--font-heading), var(--font-sans);
  --font-body: var(--font-body), var(--font-sans);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
    @apply lg:ml-[calc(100vw-100%)] lg:mr-0; /* https://aykevl.nl/2014/09/fix-jumping-scrollbar */
  }
  body {
    @apply bg-background font-body text-foreground antialiased;
  }
}

@layer utilities {
  .anchor-link {
    @apply text-foreground inline-block pb-0.5 align-middle opacity-40;
  }

  @media (hover: hover) {
    .anchor-link {
      @apply opacity-0;
    }
  }

  .heading-wrapper {
    @apply prose-headings:mt-0 prose-headings:mb-0 prose-headings:mr-[0.5em] prose-headings:text-[length:inherit] prose-headings:inline prose-headings:scroll-mt-6;

    &:hover .anchor-link {
      @apply opacity-40;
    }
  }

  :where(.heading-wrapper:has(> h2)) {
    @apply prose-h2-sizing;
  }
  :where(.heading-wrapper:has(> h3)) {
    @apply prose-h3-sizing;
  }
}

@utility content-auto {
  content-visibility: auto;
}
